## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
0,0,Hami,CN,42.8000,93.4500,24.30,62,0,1.79,clear sky
1,1,Lata,PT,40.1629,-8.3327,53.82,95,54,0.36,broken clouds
2,2,Albany,US,42.6001,-73.9662,38.57,54,5,1.99,clear sky
3,3,Lompoc,US,34.6391,-120.4579,63.57,90,90,0.00,overcast clouds
4,4,Ilulissat,GL,69.2167,-51.1000,17.62,62,20,28.77,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
6,6,Maldonado,UY,-34.6667,-54.9167,74.59,54,56,12.95,broken clouds
9,9,Cidreira,BR,-30.1811,-50.2056,70.84,70,33,18.25,scattered clouds
40,40,Kisangani,CD,0.5167,25.2000,72.30,97,100,0.92,moderate rain
59,59,Pisco,PE,-13.7000,-76.2167,73.45,64,0,18.41,clear sky
75,75,Gwadar,PK,25.1216,62.3254,74.75,61,0,6.06,clear sky
118,118,Bac Lieu,VN,9.2850,105.7244,73.92,83,100,5.44,overcast clouds
120,120,Laguna,US,38.4210,-121.4238,74.64,100,90,6.91,fog
152,152,Loubomo,CG,-4.1997,12.6739,73.74,95,100,4.59,light rain
159,159,Isangel,VU,-19.5500,169.2667,71.71,94,20,0.00,few clouds
171,171,Saint George,US,37.1041,-113.5841,71.35,30,1,0.00,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                     48
City                        48
Country                     47
Lat                         48
Lng                         48
Max Temp                    48
Humidity                    48
Cloudiness                  48
Wind Speed                  48
City Weather Description    48
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                     47
City                        47
Country                     47
Lat                         47
Lng                         47
Max Temp                    47
Humidity                    47
Cloudiness                  47
Wind Speed                  47
City Weather Description    47
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "City Weather Description", "Lat", "Lng"]].copy()

hotel_df.head(10)

,City,Country,Max Temp,City Weather Description,Lat,Lng
6,Maldonado,UY,74.59,broken clouds,-34.6667,-54.9167
9,Cidreira,BR,70.84,scattered clouds,-30.1811,-50.2056
40,Kisangani,CD,72.30,moderate rain,0.5167,25.2000
59,Pisco,PE,73.45,clear sky,-13.7000,-76.2167
75,Gwadar,PK,74.75,clear sky,25.1216,62.3254
118,Bac Lieu,VN,73.92,overcast clouds,9.2850,105.7244
120,Laguna,US,74.64,fog,38.4210,-121.4238
152,Loubomo,CG,73.74,light rain,-4.1997,12.6739
159,Isangel,VU,71.71,few clouds,-19.5500,169.2667
171,Saint George,US,71.35,clear sky,37.1041,-113.5841

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
     "radius": 5000,
     "type": "lodging",
     "key": g_key,
     "location" : f"{lat},{lng}"
     }
  
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    print("Hotel Found")
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [10]:
clean_hotel_df

,City,Country,Max Temp,City Weather Description,Lat,Lng,Hotel Name
6,Maldonado,UY,74.59,broken clouds,-34.6667,-54.9167,La Cimarrona
9,Cidreira,BR,70.84,scattered clouds,-30.1811,-50.2056,Hotel Castelo
40,Kisangani,CD,72.30,moderate rain,0.5167,25.2000,Grand Ramela Hotel
59,Pisco,PE,73.45,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
75,Gwadar,PK,74.75,clear sky,25.1216,62.3254,Sadaf Resort
118,Bac Lieu,VN,73.92,overcast clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
120,Laguna,US,74.64,fog,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
152,Loubomo,CG,73.74,light rain,-4.1997,12.6739,La Dolisienne
159,Isangel,VU,71.71,few clouds,-19.5500,169.2667,Tanna Lodge
171,Saint George,US,71.35,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
183,Richards Bay,ZA,70.27,overcast clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
210,Labis,MY,74.01,overcast clouds,2.3850,103.0210,Labis Sunrise Farm
223,Carnarvon,AU,71.67,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
245,Kahului,US,73.42,moderate rain,20.8947,-156.4700,Maui Seaside Hotel
249,Lam Luk Ka,TH,73.92,few clouds,13.9323,100.7494,Thanaplace Lamlukka Klong7
253,Dingle,PH,73.04,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
275,Palakkodu,IN,70.02,overcast clouds,12.3000,78.0833,Chandru
284,Sur,OM,73.67,clear sky,22.5667,59.5289,Sur Plaza Hotel
317,Mareeba,AU,73.44,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park
322,Hualmay,PE,71.74,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
333,Rocha,UY,70.70,overcast clouds,-34.4833,-54.3333,Hotel Arrarte
342,Russell,US,74.91,overcast clouds,32.3502,-85.1999,Macs
345,Esmeraldas,BR,70.84,scattered clouds,-19.7625,-44.3139,Bom Será - Marcinho e Fernanda
349,Pahrump,US,70.32,clear sky,36.2083,-115.9839,Best Western Pahrump Oasis
365,Cristalina,BR,71.92,overcast clouds,-16.7686,-47.6136,HOTEL TOPAZIO
368,El Alto,PE,74.86,scattered clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
404,Namibe,AO,73.90,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
421,Payakumbuh,ID,70.81,overcast clouds,-0.2202,100.6308,OYO 3114 Homestay Dalimo
423,Kiunga,PG,73.09,overcast clouds,-6.1219,141.2906,Airport Lodge Kiunga
456,Camana,PE,70.79,scattered clouds,-16.6228,-72.7111,Hostal Morales
479,Akyab,MM,74.86,overcast clouds,20.1500,92.9000,Hotel Memory
488,Dwarka,IN,74.62,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
503,Yeppoon,AU,74.98,broken clouds,-23.1333,150.7333,Villa Mar Colina
527,Moroto,UG,70.93,scattered clouds,2.5345,34.6666,"Kara-Tunga, Karamoja Safari Camp"
537,San Isidro,PE,73.26,broken clouds,-12.1167,-77.0500,Soul Mate-Inn
559,Tullahoma,US,72.07,clear sky,35.3620,-86.2094,Quality Inn
597,Guhagar,IN,73.87,overcast clouds,17.4842,73.1929,Hotel Seawinds
599,Praia,CV,73.94,few clouds,14.9215,-23.5087,LT Aparthotel
629,Imbituba,BR,73.29,overcast clouds,-28.2400,-48.6703,Praia Hotel Imbituba
634,Lucena,PH,73.72,overcast clouds,13.9314,121.6172,The Star Garden Tower Hotel
637,Comodoro Rivadavia,AR,73.26,clear sky,-45.8667,-67.5000,Austral Hotel
668,Blackwater,AU,74.44,clear sky,-23.5833,148.8833,Blackwater Motor Inn

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "VacationPy_Database.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index=False)

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Weather Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]



# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
locations

         Lat       Lng
6   -34.6667  -54.9167
9   -30.1811  -50.2056
40    0.5167   25.2000
59  -13.7000  -76.2167
75   25.1216   62.3254
118   9.2850  105.7244
120  38.4210 -121.4238
152  -4.1997   12.6739
159 -19.5500  169.2667
171  37.1041 -113.5841
183 -28.7830   32.0377
210   2.3850  103.0210
223 -24.8667  113.6333
245  20.8947 -156.4700
249  13.9323  100.7494
253  10.9995  122.6711
275  12.3000   78.0833
284  22.5667   59.5289
309 -11.3000   35.0333
317 -17.0000  145.4333
322 -11.0964  -77.6139
333 -34.4833  -54.3333
342  32.3502  -85.1999
345 -19.7625  -44.3139
349  36.2083 -115.9839
365 -16.7686  -47.6136
368  -4.2714  -81.2147
404 -15.1961   12.1522
421  -0.2202  100.6308
423  -6.1219  141.2906
456 -16.6228  -72.7111
467  20.1986    1.0114
479  20.1500   92.9000
484  13.6017   26.6876
488  22.2394   68.9678
503 -23.1333  150.7333
527   2.5345   34.6666
537 -12.1167  -77.0500
559  35.3620  -86.2094
573  20.0000   -3.0000
597  17.4842   73.1929
599  14.9215  -23.5087
624  14.9709    8.8879
629 -28.2400  -48.6703
634  13.9314  121.6172
637 -45.8667  -67.5000
668 -23.5833  148.8833

In [14]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
cur_desc = clean_hotel_df["City Weather Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
Pisco = preferred_cities_df[preferred_cities_df['City'].str.contains("Pisco")]
Pisco

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
59,59,Pisco,PE,-13.7,-76.2167,73.45,64,0,18.41,clear sky

In [16]:
Hualmay = preferred_cities_df[preferred_cities_df['City'].str.contains("Hualmay")]
Hualmay

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
322,322,Hualmay,PE,-11.0964,-77.6139,71.74,73,52,11.77,broken clouds

In [17]:
Camana = preferred_cities_df[preferred_cities_df['City'].str.contains("Camana")]
Camana

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
456,456,Camana,PE,-16.6228,-72.7111,70.79,73,25,8.43,scattered clouds

In [18]:
SanIsidro = preferred_cities_df[preferred_cities_df['City'].str.contains("San Isidro")]
SanIsidro

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
537,537,San Isidro,PE,-12.1167,-77.05,73.26,70,75,1.99,broken clouds

In [19]:
four_cities = pd.concat([Pisco, Hualmay, Camana, SanIsidro])
four_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
59,59,Pisco,PE,-13.7000,-76.2167,73.45,64,0,18.41,clear sky
322,322,Hualmay,PE,-11.0964,-77.6139,71.74,73,52,11.77,broken clouds
456,456,Camana,PE,-16.6228,-72.7111,70.79,73,25,8.43,scattered clouds
537,537,San Isidro,PE,-12.1167,-77.0500,73.26,70,75,1.99,broken clouds

In [20]:
columnsData = four_cities.loc[:,['City','Lat','Lng']]
columnsData

           City      Lat      Lng
59        Pisco -13.7000 -76.2167
322     Hualmay -11.0964 -77.6139
456      Camana -16.6228 -72.7111
537  San Isidro -12.1167 -77.0500

In [22]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Pisco = (-13.7000, -76.2167)
Hualmay = (--11.0964, -77.6139)
Camana = (--16.6228, -72.7111)
SanIsidro = (-12.1167, -77.0500)

fig = gmaps.figure()
pisco_trip = gmaps.directions_layer(Pisco, Camana, waypoints=[Hualmay, SanIsidro])
fig.add_layer(pisco_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
fig = gmaps.figure()
pisco_trip_driving = gmaps.directions_layer(
        Pisco, Camana, waypoints=[Hualmay, Camana, Cristalina]), 
        travel_mode='DRIVING')
fig.add_layer(pisco_trip_driving)
fig

IndentationError: unexpected indent (<ipython-input-23-d28a1e72dae9>, line 4)

In [32]:
# 11a. Add a marker layer for each city to the map. 

locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

AssertionError: