## Deliverable 2. Create a Customer Travel Destinations Map.

In [53]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
0,0,Hami,CN,42.8000,93.4500,24.30,62,0,1.79,clear sky
1,1,Lata,PT,40.1629,-8.3327,53.82,95,54,0.36,broken clouds
2,2,Albany,US,42.6001,-73.9662,38.57,54,5,1.99,clear sky
3,3,Lompoc,US,34.6391,-120.4579,63.57,90,90,0.00,overcast clouds
4,4,Ilulissat,GL,69.2167,-51.1000,17.62,62,20,28.77,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
6,6,Maldonado,UY,-34.6667,-54.9167,74.59,54,56,12.95,broken clouds
9,9,Cidreira,BR,-30.1811,-50.2056,70.84,70,33,18.25,scattered clouds
17,17,Rikitea,PF,-23.1203,-134.9692,76.23,75,3,16.82,clear sky
18,18,Port Blair,IN,11.6667,92.7500,79.41,83,4,7.54,clear sky
20,20,Avarua,CK,-21.2078,-159.7750,78.85,83,100,6.91,light rain
22,22,Mahibadhoo,MV,3.7833,72.9667,82.15,76,5,5.95,clear sky
24,24,Ambilobe,MG,-13.2000,49.0500,78.13,70,0,6.58,clear sky
28,28,Kavieng,PG,-2.5744,150.7967,82.09,78,25,8.12,scattered clouds
29,29,Karratha,AU,-20.7377,116.8463,84.76,36,5,11.25,clear sky
30,30,Butaritari,KI,3.0707,172.7902,82.85,65,97,14.34,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                     230
City                        230
Country                     229
Lat                         230
Lng                         230
Max Temp                    230
Humidity                    230
Cloudiness                  230
Wind Speed                  230
City Weather Description    230
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                     229
City                        229
Country                     229
Lat                         229
Lng                         229
Max Temp                    229
Humidity                    229
Cloudiness                  229
Wind Speed                  229
City Weather Description    229
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "City Weather Description", "Lat", "Lng"]].copy()

hotel_df.head(10)

          City Country  Max Temp City Weather Description      Lat       Lng
6    Maldonado      UY     74.59            broken clouds -34.6667  -54.9167
9     Cidreira      BR     70.84         scattered clouds -30.1811  -50.2056
17     Rikitea      PF     76.23                clear sky -23.1203 -134.9692
18  Port Blair      IN     79.41                clear sky  11.6667   92.7500
20      Avarua      CK     78.85               light rain -21.2078 -159.7750
22  Mahibadhoo      MV     82.15                clear sky   3.7833   72.9667
24    Ambilobe      MG     78.13                clear sky -13.2000   49.0500
28     Kavieng      PG     82.09         scattered clouds  -2.5744  150.7967
29    Karratha      AU     84.76                clear sky -20.7377  116.8463
30  Butaritari      KI     82.85          overcast clouds   3.0707  172.7902

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
     "radius": 5000,
     "type": "lodging",
     "key": g_key,
     "location" : f"{lat},{lng}"
     }
  
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    print("Hotel Found")
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel not found... skipping.
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [10]:
clean_hotel_df

,City,Country,Max Temp,City Weather Description,Lat,Lng,Hotel Name
6,Maldonado,UY,74.59,broken clouds,-34.6667,-54.9167,La Cimarrona
9,Cidreira,BR,70.84,scattered clouds,-30.1811,-50.2056,Hotel Castelo
17,Rikitea,PF,76.23,clear sky,-23.1203,-134.9692,People ThankYou
18,Port Blair,IN,79.41,clear sky,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
20,Avarua,CK,78.85,light rain,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...
659,Buckeye,US,80.60,clear sky,33.3703,-112.5838,Buckeye Motor Hotel
667,Xuddur,SO,78.26,clear sky,4.1213,43.8894,Banjanay Hotel
668,Blackwater,AU,74.44,clear sky,-23.5833,148.8833,Blackwater Motor Inn
669,San Cristobal,VE,82.58,clear sky,7.7669,-72.2250,Posada Villaven C.A.
673,Damaturu,NG,76.10,clear sky,11.7470,11.9608,"Hayas Guest Inn, Central Roundabout, Gujba Road"

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "VacationPy_Database.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index=False)

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Weather Description} {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]



# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
locations

         Lat       Lng
6   -34.6667  -54.9167
9   -30.1811  -50.2056
17  -23.1203 -134.9692
18   11.6667   92.7500
20  -21.2078 -159.7750
..       ...       ...
659  33.3703 -112.5838
667   4.1213   43.8894
668 -23.5833  148.8833
669   7.7669  -72.2250
673  11.7470   11.9608

[229 rows x 2 columns]

In [14]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
cur_desc = clean_hotel_df["City Weather Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
Pisco = preferred_cities_df[preferred_cities_df['City'].str.contains("Pisco")]
Pisco

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
59,59,Pisco,PE,-13.7,-76.2167,73.45,64,0,18.41,clear sky

In [16]:
Hualmay = preferred_cities_df[preferred_cities_df['City'].str.contains("Hualmay")]
Hualmay

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
322,322,Hualmay,PE,-11.0964,-77.6139,71.74,73,52,11.77,broken clouds

In [17]:
Camana = preferred_cities_df[preferred_cities_df['City'].str.contains("Camana")]
Camana

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
456,456,Camana,PE,-16.6228,-72.7111,70.79,73,25,8.43,scattered clouds

In [18]:
SanIsidro = preferred_cities_df[preferred_cities_df['City'].str.contains("San Isidro")]
SanIsidro

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
537,537,San Isidro,PE,-12.1167,-77.05,73.26,70,75,1.99,broken clouds

In [19]:
pinebluff = preferred_cities_df[preferred_cities_df['City'].str.contains("Pine Bluff")]
pinebluff

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
429,429,Pine Bluff,US,34.2284,-92.0032,75.09,71,40,8.01,scattered clouds

In [20]:
duncan = preferred_cities_df[preferred_cities_df['City'].str.contains("Duncan")]
duncan

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
635,635,Duncan,US,34.5023,-97.9578,75.38,54,1,8.05,clear sky

In [21]:
tullahoma = preferred_cities_df[preferred_cities_df['City'].str.contains("Tullahoma")]
tullahoma

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
559,559,Tullahoma,US,35.362,-86.2094,72.07,43,1,9.22,clear sky

In [22]:
russell = preferred_cities_df[preferred_cities_df['City'].str.contains("Russell")]
russell

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
342,342,Russell,US,32.3502,-85.1999,74.91,55,100,5.06,overcast clouds

In [23]:
four_cities = pd.concat([pinebluff, duncan, tullahoma, russell])
four_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Weather Description
429,429,Pine Bluff,US,34.2284,-92.0032,75.09,71,40,8.01,scattered clouds
635,635,Duncan,US,34.5023,-97.9578,75.38,54,1,8.05,clear sky
559,559,Tullahoma,US,35.3620,-86.2094,72.07,43,1,9.22,clear sky
342,342,Russell,US,32.3502,-85.1999,74.91,55,100,5.06,overcast clouds

In [24]:
columnsData = four_cities.loc[:,['City','Lat','Lng']]
columnsData

           City      Lat      Lng
429  Pine Bluff  34.2284 -92.0032
635      Duncan  34.5023 -97.9578
559   Tullahoma  35.3620 -86.2094
342     Russell  32.3502 -85.1999

In [75]:
#vacation_start["Lat"].to_numpy()[0]
start = pinebluff["Lat"].to_numpy()[0],pinebluff["Lng"].to_numpy()[0]
end = pinebluff["Lat"].to_numpy()[0],pinebluff["Lng"].to_numpy()[0]
cityone = duncan["Lat"].to_numpy()[0],duncan["Lng"].to_numpy()[0]
citytwo = tullahoma["Lat"].to_numpy()[0],tullahoma["Lng"].to_numpy()[0]
citythree = russell["Lat"].to_numpy()[0],russell["Lng"].to_numpy()[0]

In [82]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Pinebluff = (34.2284, -92.0032)
Duncan = (34.5023, -97.9578)
Tullahoma = (35.3620, -86.2094)
Russell = (32.3502, -85.1999)


fig = gmaps.figure()
tx_trip = gmaps.directions_layer(Pinebluff, Duncan)
fig.add_layer(tx_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
PineBluff = (34.2284, -92.0032)
Duncan = (--34.5023, -97.9578)
Tullahoma = (--35.3620, -86.2094)
Russell = (-32.3502, -85.1999)

fig = gmaps.figure()
tx_trip = gmaps.directions_layer(start, cityone, citytwo, citythree, end)
travel_mode=driving
fig.add_layer(tx_trip)
fig

TraitError: The 'travel_mode' trait of a Directions instance expected any of ['DRIVING', 'WALKING', 'BICYCLING', 'TRANSIT'], not the tuple (34.2284, -92.0032).

In [29]:
# 11a. Add a marker layer for each city to the map. 

locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False)
             max_intensity=300, point_radius=80)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

IndentationError: unexpected indent (<ipython-input-29-34c12c6d4822>, line 7)

In [30]:
len(max_temp)

217

In [31]:
len(locations)

217

In [50]:
locations = four_cities[["Lat", "Lng"]]
max_temp = four_cities["Max Temp"]
cur_desc = clean_hotel_df["City Weather Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
#fig.add_layer(heatmap_layer)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))